*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0 auto;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: "hero  hero    hero    hero"
                         "next  next    next    next"
                         ". .   .   ."
                         ". .   .   ."
                         ". .   .   .";
    box-sizing: border-box;
    height: 100vh;
}

a{
    text-decoration: none;
}

/* Hero Section (Header) */

.hero {
    grid-area: hero;
    background-image: url('../images/people-working.jpg');
    width: 100%;
    height: 928px;
    background-size: cover;
    background-position: center;
}

/* Floating Nav Bar Within Hero */

header nav {
    position: fixed;
    display: inline-block;
    top: 29px;
    left: 10%;
    right: 10%;
    z-index: 9999;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 2px 4px #000000;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "left right";
}

header nav .logo {
    padding: 0 20px 0 0;
    text-align: left;
}

header nav ul {
    margin: 0;
    display: inline-block;
    text-align: left;
}

header nav ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0 15px;
}

header nav ul > li > a {
    color:#ffffff;
}

header nav ul > li.btn-outline {
    width: 114px;
    height: 46px;
    padding:10px 15px;
    border:2px solid #ffffff;
    box-shadow: 0px 2px 0px 0px rgba(73,73,73,0.50);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}

header nav ul.left {
    grid-area: left;
}

header nav ul.left > li:nth-child(2){
    margin-left: 5%;
}

header nav ul.left > li:nth-child(3){
    margin-left: 5%;
}

header nav ul.left > li:nth-child(4){
    margin-left: 5%;
}

header nav ul.right {
    grid-area: right;
    margin: 1.6% -9% -1.6% 9%;
}

header nav ul > li.btn-outline:hover {
    background:#ffffff;
}

header nav ul > li.btn-outline:hover > a {
    color:#34495e;
    text-shadow: none;
}

/* Hero Content */

.hero-content h1 {
    margin-top: 13.6%;
    margin-left: 10%;
    font-family: Lato-Black;
    font-size: 110px;
    color: #ffffff;
    letter-spacing: 3.29px;
    text-shadow: 0px 2px 4px #4A4A4A;
}

.hero-content a {
    font-family: Lato-Bold;
    font-size: 16px;
    color: #ffffff;
}

.hero-content a.btn {
    font-family: Lato-Regular;
    font-size: 16px;
    margin-left: 10%;
    background: #4BC11B;
    padding: 10px 100px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.50);
    border-radius: 4px;
}

.hero-content p {
    font-family: Lato-Regular;
    font-size: 20px;
    color: #ffffff;
    margin-top: 5%;
    margin-left: 10%;
    line-height: 22px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

/* Next Section */

.next {
    grid-area: next;
}

